/* ----- Start Reservation ----- */
html {
  /* Reservation */
  position: relative;
  width: 1280px;
  height: 720px;
  background: #ffffff;
}

#bg2 {
  /* bg2 */
  position: absolute;
  width: 1283px;
  height: 720px;
  left: 0px;
  top: 0px;
  background: url(bg2.png);
}

.overlay {
  /* overlay */
  position: absolute;
  width: 1280px;
  height: 720px;
  left: 0px;
  top: 0px;
  background: rgba(42, 38, 61, 0.82);
}

#reserv {
  /* Reservation */
  position: absolute;
  left: 518px;
  right: 519px;
  top: 58px;
  bottom: 578px;
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 84px;
  text-align: center;
  color: #fcb371;
}

form #name {
  /* Input name */
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  padding: 16px;
  position: absolute;
  width: 382px;
  height: 46px;
  left: calc(50% - 382px / 2);
  top: calc(50% - 46px / 2 - 128px);
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

form #email {
  /* Input email */
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  padding: 16px;
  position: absolute;
  width: 382px;
  height: 46px;
  left: calc(50% - 382px / 2 + 0.5px);
  top: calc(50% - 46px / 2 - 66px);
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

form #phone {
  /* Input phone */
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  padding: 16px;
  position: absolute;
  width: 177px;
  height: 46px;
  left: calc(50% - 177px / 2 - 102px);
  top: calc(50% - 46px / 2 - 4px);
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

form #nationality {
  /* Input nationality */
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  padding: 16px;
  position: absolute;
  width: 189px;
  height: 46px;
  left: calc(50% - 189px / 2 + 97px);
  top: calc(50% - 46px / 2 - 4px);
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

form #explain {
  /* Input explain trip */
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  padding: 16px;
  position: absolute;
  width: 382px;
  height: 116px;
  left: calc(50% - 382px / 2 + 0.5px);
  top: calc(50% - 116px / 2 + 93px);
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

form #submit {
  /* Button Submit */
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  padding: 16px;
  position: absolute;
  width: 383px;
  height: 53px;
  left: calc(50% - 383px / 2 + 0.5px);
  top: calc(50% - 53px / 2 + 209.5px);
  background: #fcb371;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
